.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  margin-bottom: 1em;
}

.header {
  margin-top: 1em;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1em;
}

